@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-inherit: inherit;
  --color-current: currentColor;
  --color-transparent: transparent;
  --color-black: #000;
  --color-white: #fff;

  /* Brand colors */
  --color-background: oklch(98.8% 0.006 43.3);
  --color-subtle-highlight: oklch(93.9% 0.011 10.3);
  --color-prose: oklch(33.2% 0.028 11.7);
  --color-primary: oklch(64.4% 0.202 21);
  --color-primary-lighter: oklch(72.3% 0.172 20.7);
  --color-primary-highlight: oklch(85.7% 0.063 16);
  --color-secondary: oklch(64.7% 0.089 184.7);
  --color-secondary-lighter: oklch(82% 0.1 189.8);
  --color-secondary-highlight: oklch(87.6% 0.048 188.1);
  --color-accent: oklch(76.3% 0.145 55.8);
  --color-accent-lighter: oklch(79.4% 0.118 57.5);
  --color-accent-highlight: oklch(91.9% 0.038 61);

  --font-*: initial;
  --font-sans-serif: 'Ubuntu', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Ubuntu Mono', monospace;
}

:root, :host {
  color: var(--color-prose);
  font-family: var(--font-serif);
}

::selection {
  color: var(--color-white);
  background-color: var(--color-primary-lighter);
}

@plugin "@tailwindcss/typography";

.prose {
  --tw-prose-body: var(--color-prose);
  --tw-prose-headings: var(--color-primary);
  --tw-prose-leads: --alpha(var(--color-prose) / 80%);
  --tw-prose-links: var(--color-secondary);
}
