---
import Section from '~/components/section.astro'

import type { Committee } from '~/content.config'

interface Props{
  committee: Committee
}

const { committee } = Astro.props
---

<Section id="about">
  <h1 class="font-mono text-3xl font-bold text-primary sm:text-4xl">About Us</h1>

  <p class="mt-4 sm:mt-6">
    exec(ut) is an event organised by Stichting Sticky. It is a conference for
    and by students, offering a glimpse at the wondrous world of IT beyond the
    university. We strive to provide a diverse programme and show how exciting
    conferences can be. Our main way of contact is through our
    <a class="text-secondary underline transition-colors hover:text-secondary/80" href="mainto:conference@execut.nl">mail address</a>.
  </p>

  <p class="mt-4 sm:mt-6">
    The organising committee consists of nine members, all of whom are
    students of computing- and information sciences at Utrecht University:
  </p>

  <ul class="mt-4 sm:mt-6">
    {committee.map(({ name, role, contact }) => (
      <li class="grid grid-cols-2">
        <a class="text-secondary underline transition-colors hover:text-secondary/80" href={contact}>{name}</a>
        <p class="capitalize">{role}</p>
      </li>
    ))}
  </ul>

  <h2 class="mt-8 font-mono text-2xl font-bold text-primary sm:mt-12">
    Acknowledgements
  </h2>

  <p class="mt-4 sm:mt-8">
    Aside from our speakers, host, and parters, there are a few people and
    organisations whom we would like to thank for their contributions to the
    organisation of exec(ut). These are, in no particular order:
  </p>

  <code class="my-4 block sm:mt-8">
    DomCode, for letting us take inspiration from their code of conduct;
    <br />
    The staff of Utrecht University's CS department for their support in planning
    and promotion;
  </code>
</Section>
