<h2 class="mt-8 font-mono text-2xl font-bold text-primary sm:mt-12">
  Acknowledgements
</h2>

<p class="mt-4 sm:mt-8">
  Aside from our speakers, host, and parters, there are a few people and
  organisations whom we would like to thank for their contributions to the
  organisation of exec(ut). These are, in no particular order:
</p>

<code class="my-4 block sm:mt-8">
  DomCode, for letting us take inspiration from their code of conduct;
  <br />
  The staff of Utrecht University's CS department for their support in planning
  and promotion;
</code>
